force-app/main/default/flows/KBasicFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>If_Reservation_Dates_are_available</name>
        <label>If Reservation Dates are available</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Reservations_are_full</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reservation_Is_full</defaultConnectorLabel>
        <rules>
            <name>Check_IF_not_reserved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReservationDetails.KRoom__r.KHotel__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Hotel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetReservationDetails.KRoom__r.Occupancy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Room_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetHotel</targetReference>
            </connector>
            <label>Check IF not reserved</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Citys</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>City__c</picklistField>
        <picklistObject>KHotel__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>KHotelName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>KHotel__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RoomOccupancy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Occupancy__c</picklistField>
        <picklistObject>KRoom__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>States</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>KHotel__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FormattedEndDate</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!End_Date_New}))+ &quot;-&quot; + TEXT(DAY({!End_Date_New}))+ &quot;-&quot; + TEXT(YEAR({!End_Date_New}))</expression>
    </formulas>
    <formulas>
        <name>NewFormattedStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(TEXT(YEAR({!Start_Date_New}))+ &quot;-&quot; + TEXT(MONTH({!Start_Date_New}))+ &quot;-&quot; + TEXT(DAY({!Start_Date_New})))</expression>
    </formulas>
    <formulas>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <expression>{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>KBasicFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KBasicFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateReservation</name>
        <label>CreateReservation</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>End_Date_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KRoom__c</field>
            <value>
                <elementReference>GetRoom.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>FlowReservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>Start_Date_New</elementReference>
            </value>
        </inputAssignments>
        <object>KReservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRoom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserLastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetHotel</name>
        <label>GetHotel</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hotel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KHotel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetReservationDetails</name>
        <label>GetReservationDetails</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Reservation_Dates_are_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Start_Date_New</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>End_Date_New</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KReservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRoom</name>
        <label>GetRoom</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateReservation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Occupancy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Room_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>KHotel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetHotel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KRoom__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Reservations_are_full</name>
        <label>Reservations are full</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>reservationarenotavailable</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ReservationsareFull</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReservationSuccessfull</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>reservationSuccess</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetReservationDetails</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UserFirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UserLastName</elementReference>
            </defaultValue>
            <fieldText>LastName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BookingDates</name>
            <fieldText>Reservation Booking Date</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BookingDates_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_New</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BookingDates_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date_New</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hotel_Details</name>
            <fieldText>Hotel Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hotel_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hotel</name>
                    <choiceReferences>KHotelName</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Hotel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>State</name>
                    <choiceReferences>States</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hotel_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Room_Type</name>
                    <choiceReferences>RoomOccupancy</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Room Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <choiceReferences>Citys</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ReservationsareFull</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Sorry {!$User.FirstName}, Kindly check for other dates as reservations are full {!NewFormattedStartDate} and {!FormattedEndDate}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>reservationSuccess</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your reservation for the dates  is successful&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;&lt;p&gt;Support team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>UserDefinedWelcomeMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Hi {!$User.FirstName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Welcome KHotel Reservation Flow.. &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.FirstName</elementReference>
        </value>
    </variables>
</Flow>
