force-app/main/default/flows/KReservationDiscountFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>Days10</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>If_No_of_Days_Less_than_10</name>
        <label>If No of Days Less than 10</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>If_Number_of_Lessthan_15_and_GT_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Greater Than 10</defaultConnectorLabel>
        <rules>
            <name>No_of_Days_Less_than_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Days_reserved__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Days10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDiscountAmount</targetReference>
            </connector>
            <label>No of Days Less than 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Number_of_Lessthan_15_and_GT_10</name>
        <label>If Number of Days Lessthan 15 and GT 10</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>UpdateDiscount30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Days Greater than 15</defaultConnectorLabel>
        <rules>
            <name>Number_of_Lessthan_15_and_GT_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Days_reserved__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Days_reserved__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_15_per_cent_Discount</targetReference>
            </connector>
            <label>No of Days  &lt; 15 and &gt; 10</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Update15PercentDiscount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Booking_Amount__c}-{!$Record.Total_Booking_Amount__c}/15</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Update30percentDiscount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Booking_Amount__c} -{!$Record.Total_Booking_Amount__c}/30</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>KReservationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KReservationDiscountFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_15_per_cent_Discount</name>
        <label>Update 15 per cent Discount</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>DiscountedAmount__c</field>
            <value>
                <elementReference>Update15PercentDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDiscount30</name>
        <label>Update30PercentDiscount</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>DiscountedAmount__c</field>
            <value>
                <elementReference>Update30percentDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDiscountAmount</name>
        <label>UpdateDiscountAmount</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>DiscountedAmount__c</field>
            <value>
                <elementReference>$Record.Total_Booking_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_No_of_Days_Less_than_10</targetReference>
        </connector>
        <object>KReservation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
