force-app/main/default/flows/Welcome_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Second_Stage</name>
        <label>Second Stage</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>After Welcome Screen Stage2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetHotel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage1</name>
        <label>Stage1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>First Stage Before Welcome Screen</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RDevFirstFlow</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ListOfHotels</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RDevHotel__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupancyOfRoom</name>
        <dataType>String</dataType>
        <displayField>Occupancy__c</displayField>
        <object>RDevRoom__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Room</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>RDevRoom__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RoomOccupancy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Occupancy__c</picklistField>
        <picklistObject>RDevRoom__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NumberOfDays</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!End_Date}) - DATEVALUE({!Start_Date})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Welcome Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Welcome Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reservation_for_Hotel</name>
        <label>Create Reservation for Hotel</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>ThankUScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contacts__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Testing Flow Development </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>GetRoomData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>RDevReservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Reservation_for_Hotel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailOfUser.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetHotel</name>
        <label>GetHotel</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRoomData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hotel_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RDevHotel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRoomData</name>
        <label>GetRoomData</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RDevHotel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetHotel.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Occupancy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hotel_Rooms</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RDevRoom__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>RDevFirstFlow</name>
        <label>RDevFirstFlow</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Second_Stage</targetReference>
        </connector>
        <fields>
            <name>welcomeUser</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>welcomeScript</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserDetails</name>
            <fieldText>User Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UserDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameOfUser</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>firstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>lastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>emailOfUser</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>$User.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hotel_Details</name>
            <fieldText>Hotel Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hotel_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hotel_Name</name>
                    <choiceReferences>ListOfHotels</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Hotel Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hotel_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hotel_Rooms</name>
                    <choiceReferences>RoomOccupancy</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Hotel Rooms</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Booking_Detaiils</name>
            <fieldText>Booking Detaiils</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Detaiils_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Days_Reserved</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>NumberOfDays</elementReference>
                    </defaultValue>
                    <fieldText>Number of Days Reserved</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking_Detaiils_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankUScreen</name>
        <label>ThankUScreen</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankU</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ThanKUDear</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ThanKUDear</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you {!NameOfUser.firstName} , for the Reservation . You have booked from {!Start_Date} to {!End_Date} .&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcomeScript</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey {!firstName}, Welcome to Hotel Reservation.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.FirstName</elementReference>
        </value>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.LastName</elementReference>
        </value>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
